<!DOCTYPE html>
<html>
<head>
    {% block title %}Chat App{% endblock %}
    {% block cssAssets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    {% block jsAssets %}{% endblock %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>