{% extends "layout.twig" %}

{% block title %}Login{% endblock %}
{% block jsAssets %}
    <script type="application/javascript" src="{{ asset('assets/js/loginPage.js') }}"></script>
{% endblock %}

{% block content %}
    <p>Login</p>
{% endblock %}